.App {
  text-align: center;
}

html{
  background-image: url("../public/low-poly-grid-haikei.png");
}

.auth_form{
  position: absolute;
  left: 30%;
  top: 25%;
  min-height: 20rem;
  width: 40rem;
}

#link-container{
display: flex;
justify-content: space-around;
}

.inputs{
  padding: 20px;
}